<include href="views/header.html"/>
<div class="row">
    <div class="col-6">
        <h3 class="text-center mt-3">Edit Category</h3>
        <form id="userForm" action="#" method="post">
            <div class="form-group">
                <label for="selectedCategory">Select Category</label>
                <select name="category" class="form-control" id="selectedCategory">
                    <option value="0">New Category</option>
                    <repeat group="{{ @categories }}" value="{{ @value }}">
                        <check if="{{ @selectedCategory == @value['category_id'] }}">
                            <true>
                                <option value="{{@value['category_id']}}" selected>{{@value['category_title']}}</option>
                            </true>
                            <false>
                                <option value="{{@value['category_id']}}">{{@value['category_title']}}</option>
                            </false>
                        </check>
                    </repeat>
                </select>
            </div>

            <div class="form-group val-empty val-lessThan255">
                <label for="category_title">Category Title</label>
                <input type="text" class="form-control input" id="category_title" name="categoryTitle"
                       value="{{ @categoryTitle }}">
                <check if="{{ @errors['categoryTitle'] }}">
                    <span class="err text-danger">{{ @errors['categoryTitle'] }}</span>
                </check>
                <div class="errors text-danger"></div>
            </div>
            <div class="form-group val-lessThan5000">
                <label for="category_description">Category Description</label>
                <textarea class="form-control input" id="category_description" name="categoryDescription">{{ @categoryDescription }}</textarea>
                <div class="errors text-danger"></div>
            </div>

            <check if="{{ @success['categoryAdded'] }}">
                <span class="err text-success">{{ @success['categoryAdded'] }}</span>
            </check>
            <check if="{{ @success['categoryUpdated'] }}">
                <span class="err text-success">{{ @success['categoryUpdated'] }}</span>
            </check>
            <check if="{{ @success['categoryRemove'] }}">
                <span class="err text-danger">{{ @success['categoryRemove'] }}</span>
            </check>
            <div class="text-center mt-3">
                <button type="submit" name="categoryUpdate" class="btn btn-success">Update</button>
                <button type="submit" name="categoryRemove" class="btn btn-danger">Remove</button>
            </div>
        </form>
    </div>
</div>
<include href="views/footer.html"/>
