<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../styles/header.css">
    <check if="{{ isset(@stylesheets) }}">
        <repeat group="{{ @stylesheets }}" value="{{ @value }}">
            <link rel="stylesheet" type="text/css" href="../{{ @value }}">
        </repeat>
    </check>
    <title>Coding Projects</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="mr-3">
        <a href="/">
            <button class="btn btn-dark" type="button">Projects</button>
        </a>
    </div>
    <div class="float-lg-right">
        <check if="{{isset(@SESSION.user)}}">
            <true>
                <div class="dropdown">
                    <button class="btn btn-dark dropdown-toggle" type="button"
                            id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                        {{@SESSION.user->getUserName()}}
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="/logout"> Logout</a>
                        <a class="dropdown-item" href="/sessions"> Sessions</a>
                    </div>
                </div>
            </true>
            <false>
                <a href="/login">
                    <button class="btn btn-dark" type="button">Login</button>
                </a>
            </false>
        </check>
    </div>
    <div class="dropdown">
        <button class="btn btn-dark dropdown-toggle" type="button" data-toggle="dropdown">Help
            <span class="caret"></span></button>
        <ul class="dropdown-menu">
            <a class="dropdown-item" href="help/#addUser"> Add User</a>
            <a class="dropdown-item" href="help/#editProjects"> Edit Projects</a>
            <a class="dropdown-item" href="help/#editSessions"> Edit Sessions</a>
            <a class="dropdown-item" href="help/#editCategories"> Edit Categories</a>
        </ul>
    </div>
    </div>
</nav>
<div class="container">