<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="styles/player.css">

    <title>Coding Projects</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="mr-3">
        <button class="btn bg-light" type="button" href="#">Home</button>
    </div>
    <div class="dropdown">
        <button class="btn bg-light dropdown-toggle" type="button"
                id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
            Categories
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Scratch Projects</a>
            <a class="dropdown-item" href="#"> HTML </a>
            <a class="dropdown-item" href="#"> CSS</a>
        </div>
    </div>
    <div class="float-lg-right">
        <button class="btn bg-light" type="button" href="#">Login</button>
    </div>
</nav>
<div class="container">
