<include href="views/header.html"/>
<!--<div class="container">-->
<h1 class="text-center">Help Center</h1>
<p class="text-center"> Get Started with in couple minutes.. WHAT IS THE APP ABOUT .....</p>
<div class="border-bottom border-primary mt-4">
    <p id="addUser" class="h3 text-primary"> Add User</p>
    <div class="row">
        <div class="col-6 mb-4">
            <img class="mt-3" src="../images/picone.jpeg" alt="session logo">
        </div>
        <div class="col-6 mb-4">
            <p> Steps</p>
            <ol>
                <li>Click</li>
                <li>Click</li>
                <li>Click</li>
                <li>Click</li>
                <li>Click</li>
            </ol>
        </div>
    </div>
</div> <!--add user-->

<div class="border-bottom border-info mt-4">
    <div class="row">
        <div class="col-6 mb-4">
            <p id="editCategories"> Steps</p>
            <ol>
                <li>Click</li>
                <li>Click</li>
                <li>Click</li>
                <li>Click</li>
                <li>Click</li>
            </ol>
        </div>
        <div class="col-6 mb-4">
            <p class="h3 text-info"> Edit Category</p>
            <img class="mt-3" src="../images/picone.jpeg" alt="session logo">
        </div>
    </div>
</div> <!--Edit category-->
<div class="border-bottom border-primary mt-4">
    <p id="editProjects" class="h3 text-primary"> Add Project</p>
    <div class="row">
        <div class="col-6 mb-4">
            <img class="mt-3" src="../images/picone.jpeg" alt="session logo">
        </div>
        <div class="col-6 mb-4">
            <p id=""> Steps</p>
            <ol>
                <li>Click</li>
                <li>Click</li>
                <li>Click</li>
                <li>Click</li>
                <li>Click</li>
            </ol>
        </div>
    </div>
</div> <!--Edit Projects-->

<div class="border-bottom border-info mt-4">
    <div class="row">
        <div class="col-6 mb-4">
            <p> Steps</p>
            <ol>
                <li>Click</li>
                <li>Click</li>
                <li>Click</li>
                <li>Click</li>
                <li>Click</li>
            </ol>
        </div>
        <div class="col-6 mb-4">
            <p id="editSessions" class="h3 text-info"> Edit Sessions</p>
            <img class="mt-3" src="../images/picone.jpeg" alt="session logo">
        </div>
    </div>
</div> <!--Edit Sessions-->
    <include href="views/footer.html"/>
