<include href="views/header.html"/>
<!--<div class="container">-->
    <h1 class="text-center">Help Center</h1>
    <p class="text-center"> Get Started with in couple minutes.. WHAT IS THE APP ABOUT .....</p>

    <div class="row">
        <div class="col-5 bg-light border-left mt-3 mb-3">
            <div class="row">
                <div class="col-5">
                    <img class="rounded-circle mt-3" src="../images/imgProjects.jpg" alt="project logo">
                </div>
                <div class="col-7 mt-3">
                    <p>How to navigate project </p>
                    <p> update project</p>
                    <p> create project</p>
                    <p> remove project</p>
                </div>
            </div>
            <div class="border-top">
                <p> image upload for project cover picture</p>
            </div>

        </div>
        <div class="col-2">
        </div>
        <div class="col-5 bg-light border-left mt-3 mb-3">
            <div class="row">
                <div class="col-5">
                    <img class="rounded-circle mt-3" src="../images/category.png" alt="category logo">
                </div>
                <div class="col-7 mt-3">
                    <p>How to navigate category </p>
                    <p> update category</p>
                    <p> create category</p>
                    <p> remove category</p>
                </div>
            </div>
        </div>
    </div> <!--row closed-->

    <div class="row">
        <div class="col-5 bg-light border-left mt-3 mb-3">
            <div class="row">
                <div class="col-5">
                    <img class="rounded-circle mt-3" src="../images/sessions.png" alt="session logo">
                </div>
                <div class="col-7 mt-3">
                    <p>How to navigate sessions </p>
                    <p> update sessions</p>
                    <p> create sessions</p>
                    <p> remove sessions</p>
                </div>
            </div>
        </div>
        <div class="col-2">
        </div>
        <div class="col-5 bg-light border-left mt-3 mb-3">
            <div class="row">
                <div class="col-5">
                    <img class="rounded-circle mt-3" src="../images/users.png" alt="user logo">
                </div>
                <div class="col-7 mt-3">
                    <p>How to navigate users </p>
                    <p> update users</p>
                    <p> create users</p>
                    <p> remove users</p>
                </div>
            </div>
        </div>
    </div> <!--row closed-->
<include href="views/footer.html"/>
