<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Player</title>
    <link rel="stylesheet" type="text/css" href="styles/player.css">
</head>
<body>
<h1>Project Title</h1>
<p>Video Title</p>
<div>
    <iframe width="1344" height="756" src="https://www.youtube.com/embed/IV-Rdcm4V1U" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<button id="last" class="inline">Last</button>
<p id="progress" class="inline">1/7</p>
<button id="next" class="inline">Next</button>
</body>
</html>