<include href="views/header.html"/>
<div class="row">
    <form action="#" method="post">
        <input value="{{@project['project_title']}}" name="projectName">
        <div class="col-8">
            <p>Description</p>
            <textarea name="projectDescription"> {{@project['project_description']}}</textarea>

            <div class="form-group">
                <label for="exampleFormControlFile1">Example file input</label>
                <input type="file" class="form-control-file" id="exampleFormControlFile1">
            </div>

        </div>
        <button type="submit" name="updateProject" value="updateProject">Update</button>
    </form>


    <div class="col-4">
        <repeat group="{{ @videos }}"
                value="{{ @value }}">
            <form method="post" action="#">
                <div class="border mb-3">
                    <input type="hidden" name="videoId" value="{{@value['video_id']}}">
                    <div class="form-group">
                        <label for="title{{@value['video_id']}}">Video Name</label>
                        <input type="text" class="form-control" id="title{{@value['video_id']}}" name="videoName"
                               value="{{ @value['video_title'] }}">
                    </div>
                    <div class="form-group">
                        <label for="url{{@value['video_id']}}">Video URL</label>
                        <input type="text" class="form-control" id="url{{@value['video_id']}}" name="videoUrl"
                               value="{{ @value['video_url'] }}">
                    </div>
                    <button type="submit" name="updateVideo" value="updateVideo">Update</button>
                    <button type="submit" name="removeVideo" value="removeVideo">Remove</button>
                </div>
            </form>
        </repeat>
        <form method="post" action="#">
            <div class="border mb-3">
                <input type="hidden" name="videoId" value="0">
                <div class="form-group">
                    <label for="title0">Video Name</label>
                    <input type="text" class="form-control" id="title0" name="videoName">

                </div>
                <div class="form-group">
                    <label for="url0">Video URL</label>
                    <input type="text" class="form-control" id="url0" name="videoUrl">
                </div>
                <button type="submit" name="updateVideo" value="updateVideo">Add</button>
            </div>
        </form>
    </div>

</div>



<include href="views/footer.html"/>