<repeat group="{{ @projects }}"
        value="{{ @value }}">
    <div class="item mx-3">
        <h5><p>{{ @value["project_title"] }}</p></h5>
        <a href="/player/{{ @value['project_id'] }}">
            <img class="card-img img-fluid image"
                 src="../uploads/{{ @value['project_image'] }}" alt="{{ @value['project_title'] . ' image' }}">
        </a>
        <p>{{ @value["project_description"] }}</p>
        <check if="{{ @SESSION['session_permission'] == 'admin' }}">
            <true>
                <div>
                    <check if="{{ isset(@SESSION['user']) }}">
                        <check if="{{ @value['project_complete'] == 'true' }}">
                            <true>
                                <button type="submit" class="btn btn-warning btn-remove" name="remove" value="remove"
                                        id="{{ @value['project_id'] }}">
                                    Remove
                                </button>
                            </true>
                            <false>
                                <button type="submit" class="btn btn-success btn-give" name="give" value="give"
                                        id="{{ @value['project_id'] }}">
                                    Give
                                </button>
                            </false>
                        </check>
                        <check if="{{ get_class($SESSION['user']) == 'UserAdmin' }}">
                            <a href="/project-edit/{{ @value['project_id'] }}">
                                <button type="button" class="btn btn-info">Edit Project</button>
                            </a>
                        </check>
                    </check>
                </div>
            </true>
            <false>
                <check if="{{ @value['project_complete'] == 'true' }}">
                    <true>
                        <img class="check mt-2 mb-2" src="../images/check.png" alt="true">
                    </true>
                    <false>
                        <img class="check mt-2 mb-2" src="../images/false.png" alt="false">
                    </false>
                </check>
            </false>
        </check>
    </div>
</repeat>