<include href="views/header.html"/>
<div class="row">
    <br>
</div>
<div class="row">
    <div class="col-6">
        <h3 class="text-center mb-3">Project Details</h3>
        <div class="project-edit">
            <form action="#" method="post" enctype="multipart/form-data">
                <div class="form-group val-empty val-lessThan255">
                    <label for="project-name">Project Title</label>
                    <input value="{{@project['project_title']}}" name="projectName" id="project-name"
                           class="form-control input">
                    <check if="{{ @errors['projectTitle'] }}">
                        <span class="err text-danger">{{ @errors['projectTitle'] }}</span>
                    </check>
                    <div class="errors text-danger"></div>
                </div>
                <div class="form-group val-lessThan5000">
                    <label for="description">Description</label>
                    <textarea name="projectDescription" id="description" class="form-control input">{{ @project['project_description'] }}</textarea>
                    <check if="{{ @errors['projectDescription'] }}">
                        <span class="err text-danger">{{ @errors['projectDescription'] }}</span>
                    </check>
                    <div class="errors text-danger"></div>
                </div>
                <div class="form-group">
                    <label for="category">Category</label>
                    <select name="categoryId" id="category" class="form-control">
                        <repeat group="{{ @categories }}" value="{{ @value }}">
                            <check if="{{@value['category_id'] == @project['category_id']}}">
                                <true>
                                    <option value="{{ @value['category_id'] }}" selected>{{ @value['category_title'] }}
                                    </option>
                                </true>
                                <false>
                                    <option value="{{ @value['category_id'] }}">{{ @value['category_title'] }}</option>
                                </false>
                            </check>
                        </repeat>
                    </select>
                </div>
                <div class="form-group">
                    <input type="file" class="form-control-file"  name="fileToUpload">
                </div>
                <div class="text-center mt-3">
                    <check if="{{ @project['project_id'] == 0}}">
                        <true>
                            <button type="submit" class="btn btn-success" name="updateProject" value="updateProject">
                                Create
                            </button>
                        </true>
                        <false>
                            <button type="submit" class="btn btn-success" name="updateProject" value="updateProject">
                                Update
                            </button>
                        </false>
                    </check>
                    <button type="submit" class="btn btn-danger" name="removeProject" value="updateProject">Remove
                    </button>
                </div>

            </form>
            <check if="{{ @errors['largeImg'] }}">
                <span class="err text-danger">{{ @errors['largeImg'] }}</span>
            </check>
            <check if="{{ @errors['returnCode'] }}">
                <span class="err text-danger">{{ @errors['returnCode'] }}</span>
            </check>
            <check if="{{ @errors['duplicatedImage'] }}">
                <span class="err text-danger">{{ @errors['duplicatedImage'] }}</span>
            </check>
            <check if="{{ @errors['wrongFileType'] }}">
                <span class="err text-danger">{{ @errors['wrongFileType'] }}</span>
            </check>
            <check if="{{ @success['uploadSuccessfully'] }}">
                <span class="err text-success">{{ @success['uploadSuccessfully'] }}</span>
            </check>
        </div>
    </div>
    <div class="col-6">
        <h3 class="text-center mb-3">Add Video</h3>
        <div class="mb-3 video-item">
            <form method="post" action="#">
                <input type="hidden" name="videoId" value="0">
                <div class="form-group val-empty val-lessThan255">
                    <label for="title0">Video Name</label>
                    <input type="text" class="form-control input" id="title0" name="videoName"
                           value="{{ @validVideoName }}">
                    <check if="{{ @errors['validVideoName'] && @errors['id'] == @value['video_id'] }}">
                        <span class="err text-danger">{{ @errors['validVideoName'] }}</span>
                    </check>
                    <div class="errors text-danger"></div>
                </div>
                <div class="form-group val-empty val-lessThan255">
                    <label for="url0">Video URL</label>
                    <input type="text" class="form-control input" id="url0" name="videoUrl" value="{{ @videoUrl }}">
                    <check if="{{ @errors['videoUrl'] && @errors['id'] == @value['video_id'] }}">
                        <span class="err text-danger">{{ @errors['videoUrl'] }}</span>
                    </check>

                    <check if="{{ @success['addedVideo']}}">
                        <span class="err text-success">{{ @success['addedVideo'] }}</span>
                    </check>
                    <div class="errors text-danger"></div>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-success" name="addVideo" value="updateVideo">Add</button>
                </div>
            </form>
        </div>
        <h3 class="text-center mb-3">Project Videos</h3>
        <repeat group="{{ @videos }}"
                value="{{ @value }}">
            <div class="mb-3 video-item">
                <form method="post" action="#">
                    <input type="hidden" name="videoId" value="{{ @value['video_id'] }}">
                    <div class="form-group val-empty val-lessThan255">
                        <label for="title{{ @value['video_id'] }}">Video Name</label>
                        <input type="text" class="form-control input" id="title{{ @value['video_id'] }}"
                               name="videoName"
                               value="{{ @value['video_title'] }}">
                        <div class="errors text-danger"></div>
                    </div>
                    <check if="{{ @errors['validVideoName'] && @errors['id'] == @value['video_id'] }}">
                        <span class="err text-danger">{{ @errors['validVideoName'] }}</span>
                    </check>
                    <check if="{{ @errors['validVideoName'] && @errors['id'] == @value['video_id'] }}">
                        <span class="err text-danger">{{ @errors['validVideoName'] }}</span>
                    </check>
                    <div class="form-group  val-empty val-lessThan255">
                        <label for="url{{ @value['video_id'] }}">Video URL</label>
                        <input type="text" class="form-control input" id="url{{ @value['video_id'] }}" name="videoUrl"
                               value="{{ @value['video_url'] }}">
                        <div class="errors text-danger"></div>
                    </div>
                    <check if="{{ @errors['videoUrl'] && @errors['id'] == @value['video_id'] }}">
                        <span class="err text-danger">{{ @errors['videoUrl'] }}</span>
                    </check>
                    <div class="form-group val-empty">
                        <label for="order{{ @value['video_id'] }}">Video Order</label>
                        <input type="text" class="form-control input" id="order{{ @value['video_id'] }}"
                               name="videoOrder"
                               value="{{ @value['video_order'] }}">
                        <div class="errors text-danger"></div>
                    </div>
                    <div class="text-center mt-3">
                        <button type="submit" class="btn btn-success" name="updateVideo" value="updateVideo">
                            Update
                        </button>
                        <button type="submit" class="btn btn-danger" name="removeVideo" value="removeVideo">Remove
                        </button>
                    </div>
                </form>
            </div>
        </repeat>
    </div>
</div>
<include href="views/footer.html"/>

