<include href="views/header.html"/>
<div class="row">
    <div class=col-6>
        <h3 class="text-center">Session Info</h3>
        <form action="#" method="post">
            <div class="form-group val-empty val-lessThan255">
                <label for="title">Title</label>
                <input type="text" class="form-control input" id="title" name="title" value="{{ @session['session_title'] }}">
                <div class="errors text-danger"></div>
            </div>
            <div class="form-group val-empty val-lessThan5000">
                <label for="description">Description</label>
                <input type="text" class="form-control input" name="description" id="description"
                       value="{{ @session['session_description'] }}">
                <div class="errors text-danger"></div>
            </div>
            <div class="text-center">
            <button type="submit" class="btn btn-success" name="sessionUpdate" value="update">Update</button>
            <button type="submit" class="btn btn-danger" name="sessionDelete" value="delete">Delete</button>
            </div>
        </form>
    </div>

    <div class="col-6">
        <h3 class="text-center">Users</h3>
        <form id="userForm" action="#" method="post">
            <div class="form-group">
                <label for="userSelect">Select User</label>
                <select name="userId" class="form-control" id="userSelect">
                    <option value="0">Create new user</option>
                    <repeat group="{{@users}}" value="{{@user}}">
                        <check if="{{@selectedUser['user_id'] == @user['user_id']}}">
                            <true>
                                <option value="{{@user['user_id']}}" selected>{{@user['user_nickname']}}</option>
                            </true>
                            <false>
                                <option value="{{@user['user_id']}}">{{@user['user_nickname']}}</option>
                            </false>
                        </check>
                    </repeat>
                </select>
            </div>
            <div class="form-group val-empty val-lessThan255 val-hasSpaces">
                <label for="userName">Username</label>
                <input type="text" class="form-control input" id="userName" name="name"
                       value="{{ @selectedUser['user_name'] }}">
                <div class="errors text-danger"></div>
            </div>
            <div class="form-group val-empty val-lessThan255">
                <label for="nickName">Nick Name</label>
                <input type="text" class="form-control input" id="nickName" name="nickName"
                       value="{{ @selectedUser['user_nickname']}}">
                <div class="errors text-danger"></div>
            </div>
            <div class="form-group val-empty val-lessThan255">
                <label for="password">Password</label>
                <input type="text" class="form-control input" id="password" name="password"
                       value="{{ @selectedUser['user_password'] }}">
                <div class="errors text-danger"></div>
            </div>
            <div class="text-center">
            <button type="submit" class="btn btn-success" name="userUpdate" value="userUpdate">Update</button>
            <button type="submit" class="btn btn-info">Copy</button>
            <button type="submit" class="btn btn-danger" name="userDelete" value="userDelete">Delete</button>
            </div>
        </form>
    </div>
</div>

<include href="views/footer.html"/>