<include href="views/header.html"/>

<repeat group="{{ @sessions }}"
        value="{{ @value }}">
    <div class="item border border-primary col-4">
        <p>{{ @value["session_title"] }}</p>

        <p>{{ @value["session_description"] }}</p>
    </div>
</repeat>

<repeat group="{{ @session }}"
        value="{{ @value }}">
    <div class="item border border-primary col-4">
        <p>{{ @value['session_title'] }}</p>
        <p>{{ @value['session_description'] }}</p>

    </div>
</repeat>

<include href="views/footer.html"/>