<include href="views/header.html"/>
<div class="row">
    <div class=col-6>
        <h3 class="text-center">Session Info</h3>
        <form action="#" method="post">
            <div class="form-group val-empty val-lessThan255">
                <label for="title">Title</label>
                <input type="text" class="form-control input" id="title" name="title" value="{{ @session['session_title'] }}">
                <div class="errors text-danger">
                    <check if="{{ @errors['sessionTitle'] }}">
                        <repeat group="{{ @errors['sessionTitle'] }}" key="{{ @key }}" value = "{{ @value }}">
                            <div class="{{ @key }}">{{ @value }}</div>
                        </repeat>
                    </check>
                </div>
            </div>
            <div class="form-group val-empty val-lessThan5000">
                <label for="description">Description</label>
                <input type="text" class="form-control input" name="description" id="description"
                       value="{{ @session['session_description'] }}">
                <div class="errors text-danger">
                    <check if="{{ @errors['sessionDescription'] }}">
                        <div class="val-empty-error">{{ @errors['sessionDescription'] }}</div>
                    </check>
                </div>
            </div>
            <check if="{{ @success['sessionUpdate'] }}">
                <span class="err text-success">{{ @success['sessionUpdate'] }}</span>
            </check>
            <div class="text-center">
            <button type="submit" class="btn btn-success" name="sessionUpdate" value="update">Update</button>
            <button type="submit" class="btn btn-danger" name="sessionDelete" value="delete">Delete</button>
            </div>
        </form>
    </div>

    <div class="col-6">
        <h3 class="text-center">Users</h3>
        <form id="userForm" action="#" method="post">
            <div class="form-group">
                <label for="userSelect">Select User</label>
                <select name="userId" class="form-control" id="userSelect">
                    <option value="0">Create new user</option>
                    <repeat group="{{@users}}" value="{{@user}}">
                        <check if="{{ @userId == @user['user_id']}}">
                            <true>
                                <option value="{{@user['user_id']}}" selected>{{@user['user_nickname']}}</option>
                            </true>
                            <false>
                                <option value="{{@user['user_id']}}">{{@user['user_nickname']}}</option>
                            </false>
                        </check>
                    </repeat>
                </select>
            </div>
            <div class="form-group val-empty val-lessThan255 val-hasSpaces">
                <label for="userName">Username</label>
                <input type="text" class="form-control input" id="userName" name="name"
                       value="{{ @userName }}">
                <check if="{{ @errors['userName'] }}">
                    <span class="err text-danger">{{ @errors['userName'] }}</span>
                </check>
                <div class="errors text-danger"></div>
            </div>
            <div class="form-group val-empty val-lessThan255">
                <label for="nickName">Nick Name</label>
                <input type="text" class="form-control input" id="nickName" name="nickName"
                       value="{{ @userNickName }}">
                <check if="{{ @errors['userNickName'] }}">
                    <span class="err text-danger">{{ @errors['userNickName'] }}</span>
                </check>
                <div class="errors text-danger"></div>
            </div>
            <div class="form-group val-empty val-lessThan255 val-hasSpaces">
                <label for="password">Password</label>
                <input type="text" class="form-control input" id="password" name="password"
                       value="{{ @password }}">
                <check if="{{ @errors['password'] }}">
                    <span class="err text-danger">{{ @errors['password'] }}</span>
                </check>
                <div class="errors text-danger"></div>
            </div>
            <check if="{{ @success['createNewUser'] }}">
                <span class="err text-success">{{ @success['createNewUser'] }}</span>
            </check>
            <check if="{{ @success['userUpdate'] }}">
                <span class="err text-success">{{ @success['userUpdate'] }}</span>
            </check>
            <check if="{{ @success['userRemoved'] }}">
                <span class="err text-danger">{{ @success['userRemoved'] }}</span>
            </check>
            <check if="{{ @errors['unableToRemove'] }}">
                <span class="err text-danger">{{ @errors['unableToRemove'] }}</span>
            </check>
            <div class="text-center">
            <button type="submit" class="btn btn-success" name="userUpdate" value="userUpdate">Update</button>
            <button type="submit" class="btn btn-info">Copy</button>
            <button type="submit" class="btn btn-danger" name="userDelete" value="userDelete">Delete</button>
            </div>
        </form>
    </div>
</div>

<include href="views/footer.html"/>