<include href="views/header.html"/>
<div class="row">
    <div class="col-6">

        <form id="userForm" action="#" method="post">
            <div class="form-group">
                <label for="userSelect">Select User</label>
                <select name="userId" class="form-control" id="userSelect">
                    <option value="0">Create new user</option>
                    <repeat group="{{@users}}" value="{{@user}}">
                        <check if="{{@selectedUser['user_id'] == @user['user_id']}}">
                            <true>
                                <option value="{{@user['user_id']}}" selected>{{@user['user_nickname']}}</option>
                            </true>
                            <false>
                                <option value="{{@user['user_id']}}">{{@user['user_nickname']}}</option>
                            </false>
                        </check>
                    </repeat>
                </select>
            </div>
            <div class="form-group">
                <label for="userName">Username</label>
                <input type="text" class="form-control" id="userName" name="name"
                       value="{{ @selectedUser['user_name'] }}">
            </div>
            <div class="form-group">
                <label for="nickName">Nick Name</label>
                <input type="text" class="form-control" id="nickName" name="nickName"
                       value="{{ @selectedUser['user_nickname']}}">
            </div>
            <div class="form-group">
                <label for="password">Password </label>
                <input type="text" class="form-control" id="password" name="password"
                       value="{{ @selectedUser['user_password'] }}">
            </div>
            <button type="submit" class="btn btn-primary" name="userUpdate" value="userUpdate">Update</button>
            <button type="submit" class="btn btn-primary">Copy</button>
            <button type="submit" class="btn btn-primary" name="userDelete" value="userDelete">Delete</button>
        </form>
    </div>

    <div class=col-6>
        <form action="#" method="post">
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" class="form-control" id="title" name="title" value="{{ @session['session_title'] }}">
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <input type="text" class="form-control" name="description" id="description"
                       value="{{ @session['session_description'] }}">
            </div>
            <button type="submit" class="btn btn-primary" name="sessionUpdate" value="update">Update</button>
            <button type="submit" class="btn btn-primary" name="sessionDelete" value="delete">Delete</button>
        </form>
    </div>
</div>

<include href="views/footer.html"/>