body {
    text-align: center;
}

.image {
    height: 320px;
    width: 320px;
}

.user-button {
    width: 150px;
    font-size: 1.1em;
}

.item {
    display: inline-block;
}

.wrapper {
    display: flex;
    width: 100%;
}

.sidebar {
    margin-top: 100px;
    width: 200px;
    position: fixed;
    top: 0;
    left: 25px;
}

.categories {
    width: 25%;
}