.video-item {
    border: 1px solid lightgrey;
    border-radius: 10px;
    padding: 10px;
}

.project-edit {
    border: 1px solid lightgrey;
    border-radius: 10px;
    padding: 10px;
}
.err{
    color: red;
}